.gallery{
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    
    padding: 24px 156px;
    margin: 0 auto;
}

.gallery-item{
    flex-basis: calc((100% - 48px)/3);
    
    background-color: white;
}

.gallery-item:nth-child(-n+6){
    margin-bottom: 24px;
}

.gallery-image{
    width: 100%;
}

.gallery-image:hover, .gallery-image:focus{
    transform: scaleX(1.04) scaleY(1.04);
    transition: transform 0.3s ease; 
}